.intro {
	width: 400px;
	height: 250px;
	border: 2px solid #d7e2c1;
	margin: 80px auto;
	font-size: 28px;
	font-family: "Arial";
	text-align: center;
	padding: 25px;
	background: #e7e7e7;
	border-radius: 8px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
}